
body {
  font-family: 'Montserrat', sans-serif; //'Roboto Slab', serif; 
  background-color: $color-white;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.title {
  padding: 40px 0 10px 0;
  color: $color-primary;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin: 0 10px;
}


.subtitle {
  padding-bottom: 25px;
  color: $color-secondary;
  font-family: 'Roboto Slab', serif;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: -0.5px;
}