.services {
  #slider{
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  &__items {
    position: relative;
    display: flex;
    width: 300%;
    transition: all 750ms ease;
    left: 0;
  }
}

.box {
  width: 100%;
  font-family: 'Montserrat';
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  &__wrapper{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
  }
  &__img{
    width: 70%;
  }

  &__text{
    width: 180px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  &__title {
    margin-bottom: 5px;
    color: $color-primary;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.45px;
  }

  &__description {
    color: $color-secondary;
    font-family: 'Roboto Slab';
    font-size: 8px;
    line-height: 10px;
    font-weight: 300;
    letter-spacing: 0;
  }
}