//colors:

$color-primary: #222222;
$color-secondary: #777777;
$color-button: #7cc576;
$color-white: #fff;
$color-green: #7cc576;
$color-dark-grey: #555555;
$color-light-grey: #cccccc;
$color-light-grey-1: #ececec;
$bg-color-grey: #f9f9f9f9;

//font-size

$size-h1: 60px;
$size-h2: 40px;
$size-h2-p: 20px;
$size-h3: 1.8rem;
$size-h3-p: 16px;
$size-h3-p-small: 14px;
$size-quotes: 22px;
$size-quotes-author: 22px;
$size-menu-links: 14px;
$size-button-primary: 16px;
$size-button-secondary: 18px;
$size-footer-text: 16px;
$size-footer-copy: 14px;

//border

$border: 3px solid #fff;